* {
  box-sizing: border-box;
}
.homesec3 {
  display: float;
}
.homegrid {
  float: left;
  position: relative;
}
.square1 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 226px;
  top: 106px;
  background: rgba(219, 21, 236, 0.3);
}

.square2 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 330px;
  top: 106px;
  background: rgba(219, 21, 236, 0.3);
}

.square3 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 330px;
  top: 200px;
  background: rgba(219, 21, 236, 0.3);
}

.square4 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 226px;
  top: 200px;
  background: rgba(219, 21, 236, 0.3);
}

.square5 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 226px;
  top: 294px;
  background: rgba(219, 21, 236, 0.3);
}

.square6 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 330px;
  top: 294px;
  background: rgba(219, 21, 236, 0.3);
}

.square7 {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 122px;
  top: 106px;
  background: rgba(219, 21, 236, 0.3);
}

.square8 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 156px;
  top: 221px;
  background: #db15ec;
}
.square9 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 122px;
  top: 296px;

  background: #db15ec;
}
.square10 {
  position: absolute;
  width: 34px;
  height: 91px;
  left: 122px;
  top: 391px;

  background: #99f5fb;
}
.square11 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 122px;
  top: 391px;

  background: rgba(219, 21, 236, 0.3);
}
.square12 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 236px;
  top: 391px;

  background: rgba(219, 21, 236, 0.3);
}
.square13 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 350px;
  top: 391px;

  background: rgba(219, 21, 236, 0.3);
}
.square14 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 435px;
  top: 296px;

  background: rgba(219, 21, 236, 0.3);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.square15 {
  position: absolute;
  width: 110px;
  height: 91px;
  left: 435px;
  top: 201px;

  background: rgba(219, 21, 236, 0.3);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.square16 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 510px;
  top: 432px;

  background: #db15ec;
}
.square17 {
  position: absolute;
  width: 34px;
  height: 91px;
  left: 525px;
  top: 201px;

  background: #99f5fb;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.square18 {
  position: absolute;
  width: 34px;
  height: 91px;
  left: 525px;
  top: 296px;

  background: #99f5fb;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.homesec3-text {
  max-width: 600px;
  float: right;
  padding-top: 100px;
  padding-right: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.homesec3-text > button {
  width: 142px;
  height: 51px;
  border: none;

  background: #c115ec;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
.homesec3-text > button:hover {
  color: black;
}
.homesec3-text > h1 {
  max-width: 400px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
}
.homesec4-list > li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.homesec4-list > li::marker {
  color: #db15ec;
  font-size: 30px;
}
