* {
  box-sizing: border-box;
}
.homesec5 {
  padding-top: 400px;
  padding-left: 80px;
  display: float;
}
.howitworks {
  max-width: 350px;
  height: 149px;
  left: 151px;
  top: 2426px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
}
.homesteps {
  float: right;
  margin-top: 300px;
}
.step1 {
  position: absolute;
  width: 270px;
  height: 259px;
  left: 731px;
  top: 2451px;
  text-align: center;
  background: #fafafa;
  border-radius: 5px;
}
.step2 {
  position: absolute;
  width: 270px;
  height: 259px;
  left: 1016px;
  top: 2498px;
  text-align: center;
  background: #fafafa;
  border-radius: 5px;
}
.step3 {
  position: absolute;
  width: 270px;
  height: 259px;
  left: 1016px;
  top: 2775px;
  text-align: center;
  background: #fafafa;
  border-radius: 5px;
}
.step4 {
  position: absolute;
  width: 270px;
  height: 259px;
  left: 731px;
  top: 2729px;
  text-align: center;
  background: #fafafa;
  border-radius: 5px;
}
.signin-btn {
  position: absolute;
  width: 173px;
  height: 51px;
  left: 731px;
  top: 3053px;
  border: none;
  background: #db15ec;
  border-radius: 30px;
  color: white;
}
