* {
  box-sizing: border-box;
}
.homesec5 {
    position: relative;
    margin-left: 180px;
    margin-top: 400px;
}
.howitworks {
  margin-top: 5rem;
  margin-left: 25rem;
  height: 149px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
}

.signin-btn {
    margin-top: 50px ;
  width: 173px;
  height: 51px;
  border: none;
  background: #db15ec;
  border-radius: 30px;
  color: white;
  margin-left: 25rem;
}

.homesec2 {
  width: 100%;
  align-items: center;
}
.homesec2-flex1 {

height: 166px;
  padding-left: 200px;
  max-width: 900px;
  padding-top: 100px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;

}
.homesec2-flex2 {
  cursor: pointer;
  text-align: left;
  margin: 0%;
  max-width: 1200px;
  padding-left: 200px;
  padding-top: 150px;
}
.homesec2-flex2 > tr > th {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.homesec2-flex2 > tr > td {
  line-height: 27px;
  padding-top: 20px;
}

.explorehome-btn {
  cursor: pointer;
  width: 196px;
  height: 51px;
  border: none;
  margin-top: 40px;
  background: #db15ec;
  border-radius: 30px;
  color: white;
}