* {
  box-sizing: border-box;
}
.homesec5 {
    position: relative;
  padding-top: 200px;
  padding-left: 80px;
  display: float;
}
.howitworks {
  max-width: 350px;
  height: 149px;
  left: 151px;
  top: 2426px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
}

.signin-btn {
    margin-top: 100px ;
  width: 173px;
  height: 51px;
  border: none;
  background: #db15ec;
  border-radius: 30px;
  color: white;
}
